.login-page {
  width: max-content;
  padding: 8% 0 0;
  margin: auto;
}

.login-buttons {
  margin-top: 100px;
}

.login-header {
  display: block;
  font-size: 200%;
  text-align: center;
}

.criar-conta-page {
    width: max-content;
    padding: 8% 0 0;
    margin: auto;
  }
  
  .login-buttons {
    margin-top: 100px;
  }
  
  .criar-conta-header {
    display: block;
    font-size: 200%;
    text-align: center;
  }

.profileMinPicture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
}
