@import url("https://fonts.googleapis.com/css2?family=Erica+One&display=swap");

.login-page {
  width: max-content;
  padding: 8% 0 0;
  margin: auto;
}

.login-buttons {
  margin-top: 10vh;
}

.login-header {
  display: block;
  h1 {
    font-size: 5rem;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 30px;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000000;
  }
  text-align: center;
  font-family: "Erica One", cursive;
}

.criar-conta-page {
  width: max-content;
  padding: 8% 0 0;
  margin: auto;
}

.login-buttons {
  margin-top: 100px;
}

.criar-conta-header {
  display: block;
  font-size: 200%;
  text-align: center;
}

.profileMinPicture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
}
