@import url("https://fonts.googleapis.com/css2?family=Erica+One&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.loginPage {
  width: max-content;
  margin: auto;
}

.loginButtons {
  margin-top: 10vh;
  text-align: center;
  .row{
      margin-top: 20px;
  }
}

.loginHeader {
  display: block;
  h1 {
    font-size: 8rem;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
    text-shadow: #7c7c7c 0 0 10px;
  }

  text-align: center;
  font-family: "Erica One", cursive;
}

.profileMinPicture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
}

