.loginPage {
  width: max-content;
  margin: auto;
}



.loginButtons {
  margin-top: 10vh;
  text-align: center;
  .row {
    margin-top: 20px;
  }
}

.loginHeader {
  display: block;
  h1 {
    font-size: 8rem;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
    text-shadow: #7c7c7c 0 0 10px;
  }

  text-align: center;
  font-family: "Erica One", cursive;
}

.feedContainer{
    h1{
        font-size: 2rem;
        color: rgb(0, 0, 0);
        margin-bottom: 30px;
        text-shadow: #7c7c7c 0 0 10px;
        text-align: center;
    }
}

.finalMessage{
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
}